.information{
  width: 100%;
  background-color: whitesmoke;
}

.tools{
  width:100%;
  background-color:#ddffff;
}
.kantaiHenseiAll > label{
  display:none;
}

.kantaiHenseiAll > details{
  font-size:10pt;
}
.btn_deckbuilder{
  height:auto;
  width:100%;
  font-size:0.7em;
}
.kantaiHenseiAll > select{
  width:78px;
}
.maincontents{
  width:100%;
  background-color:whitesmoke;
  flex-wrap: wrap;
  display: flex;
  flex-flow: column;
  height:auto;
}

.sheetselection{
  flex-wrap: wrap;
  display: flex;
  height:30pt;
}

.area {
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  background-color: whitesmoke;
  vertical-align: top;
}

.henseiName{
  resize:none;
}

textarea{
width:100%;
}

.sheet_tab {
  width:auto;
  height:22pt;
  margin-right:3pt;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: left;
  display: block;
  float: none;
  order: -1;
}

.sheetcontents{
  display:none;
  width:100%;
}


input[name="sheet_name"] {
  display:none;
  height:auto;
}

input:checked + .sheet_tab {
  background-color: rgb(119,188,179);
  color: white;
}

input:checked + .sheet_tab + .sheetcontents {
  display: flex;
  height:auto;
/*   min-height:415px; */
}

.tab_class {
  width:25%;
  height:30px;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

.defaultHideRadios {
  display:none;
  position:fixed;
}



input[type="color"] {
  width:16pt;
  height:16pt;
}

input:checked + .tab_class {
  background-color: rgb(119,188,179);
  color: white;
}

input:checked + .tab_class + .kantaiList {

  display: block;
  padding:0em;
/*   height:calc(100vh - 200pt); */
  overflow-y:auto;
  margin-top:2pt;
  margin-bottom:2pt;
  height:calc(100%); 
/*   min-height:280px; */
}

.kantaiHensei {
  display:block;
  float:none;
  width:auto;
  position:relative;
  height:100%;
  padding:3pt;
  margin-top:1px;
  margin-bottom:1px;
}

.kantaiItem {
  list-style: none;
  background-color: gray;
  color: white;
  margin: 2px;
  float: left;
  font-size:0.8em;
  line-height:12px;
  padding:2px;
  width: calc(100%/4 - 8px);
  max-height:calc(2em + 2px);
  position:relative;
}

.henseiItem {
  list-style: none;
  background-color: gray;
  color: white;
  margin: 2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  font-size:0.8em;
  line-height:12px;
  padding:2px;
  width:65px;
  height:calc(2em + 2px);
  position:relative;  
}

.kantaiList {
  display:none;
}

.kantaiJouhou{
 width:10px;
}


.shipimg{
  display:none;
  width:100%;
  draggable:false;
}

.shiplv{
  float: left;
  font-size:0.6em;
  position:relative;
}


.henseiItem > .shiparea{
  float:right;
  position:absolute;
  top:2em;
  right:0.2em;
  font-size:0.7em;  
  transform: scale(0.8,0.8) translate(0,0.1em);
  right:0pt;
}

.henseiItem > .shipname{
  white-space: nowrap;
  overflow: hidden;
  padding:0.2em;
  float:none;
}

.kantaiItem > .shiparea{
  float:right;
  position:absolute;
  top:2em;
  font-size:0.7em;  
  transform: scale(0.8,0.8) translate(0,0.1em);
  right:0pt;
}

.shipname{
  white-space: nowrap;
  overflow: hidden;
  padding:0.2em;
transform:translate(-0.2em,0em);
}

.kantaiHenseiAll{
  vertical-align:top;
  width:80px;

  
}

.henseiText {
  top: 2;
  left: 2;
}

.henseiName{
  width:100%;
}
.closeButton{
  float:right;
  font-size:1em;
  padding:0em;
  border:none;
  background:rgba(0,0,0,0);
}
.btn_addHensei{
font-size:0.5em;
  vertical-align:top;
  float:right;
  margin-right:1em;
}

.sheet_name_label{
  width:auto;
  border:none;
  background:rgba(0,0,0,0);
  margin:4pt
}

.splitLeft{
  display:block;
  background-color:whitesmoke;
  width:300px;
}

.splitRight{
  overflow-y:scroll;
  background-color:#ddffff;
/*   flex-grow: 1; */
  height:auto;
}

.lst_fudaList{
  width:auto;

}

.lst_ListSort{
  width:auto;
  float:right;
}

.txt_fudaText{
  width:100px;
white-space:nowrap;
}

.kantaiList {
  display:none;
}

td{
  border:solid;
  background-color:whitesmoke;
}