
.information{
  width:100%;
  background-color:#ffddff;
}

.tools{
  width:100%;
  background-color:#ddffff;
}

.maincontents{
  width:100%;
  background-color:#ffffdd;
  flex-wrap: wrap;
  display: flex;
  flex-flow: column;
  height:1fr;
}
.henseiName{
  resize:none;
}
.btn_deckbuilder{
  height:auto;
  width:100%;

  
}
.sheetselection{
  flex-wrap: wrap;
  display: flex;
  height:30pt;
}

.area {
  width:300px;
  
  flex-wrap: wrap;
  display: flex;
  background-color: white;
/*   flex-grow: 1; */
/*   height:calc(100% - 90px); */
}
textarea{
  width:100%;
}
.sheet_tab {
  width:auto;
  height:22pt;
  margin-right:3pt;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: left;
  display: block;
  float: none;
  order: -1;
}

.sheetcontents{
  display:none;
  width:100%;
  height:calc(100vh - 100pt);
/*   flex-grow: 1; */
}


input[name="sheet_name"] {
  display:none;
  height:auto;
}

input:checked + .sheet_tab {
  background-color: rgb(119,188,179);
  color: white;
}

input:checked + .sheet_tab + .sheetcontents {
  display: flex;
}

.tab_class {
  width:25%;
  height:30px;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

.defaultHideRadios {
  display:none;
  position:fixed;
}



input[type="color"] {
  width:16pt;
  height:16pt;
}

input:checked + .tab_class {
  background-color: rgb(119,188,179);
  color: white;
}

input:checked + .tab_class + .kantaiList {
  display: block;
  padding:0em;
/*   height:calc(100vh - 200pt); */
/*   height: */
  
  overflow-y:scroll;
  margin-top:2pt;
  margin-bottom:2pt;
}

.kantaiHensei {
  display:block;
  float: none;
  width: auto;
  position:relative;
  height:100%;
/*   margin:1em auto; */
  padding:3pt;

}

.kantaiItem {
/*   border-radius: 3px; */
  list-style: none;
  background-color: gray;
  color: white;
  margin: 2px;
  float: left;
  line-height:1em;
  padding:2px;
  width: calc(50% - 8px);
  height:auto;
  position:relative;
}

.henseiItem {
  border-radius: 3px;
  list-style: none;
  background-color: gray;
  color: white;
  margin: 2px;
/*   padding:2px; */
    margin-left:auto;
  margin-right:auto;
  float:none;
  line-height:16px;
  width: 133px;
  height:75px;
  position:relative;  
border: 2px solid;
}

.kantaiList {
  display:none;
}

.kantaiJouhou{
 width:10px;
}


.shipimg{
  width:100%;
  draggable:false;

  
}

.shiplv{
  float: left;
  font-size:0.9rem
}

.shiparea{
  text-align: right;
  float:right;
  margin-right: 0.2em;
}

.shipname{
  white-space: nowrap;
  overflow: hidden;
  padding:0.2em 0em;

  
}

.kantaiHenseiAll{
  vertical-align:top;
}

.henseiText {
  top: 2;
  left: 2;
}

.henseiName{
  width:100%;
}
.closeButton{
  float:right;
  font-size:1em;
  padding:0em;
  border:none;
  background:rgba(0,0,0,0);
}
.btn_addHensei{
font-size:0.5em;
  vertical-align:top;
  float:right;
  margin-right:1em;
}

.sheet_name_label{
  width:auto;
  border:none;
  background:rgba(0,0,0,0);
  margin:4pt
}



.splitLeft{
  display:block;
  //display:flex;
  background-color:skyblue;
//    height:calc(100vh - 50pt);
  //height:auto;
  width:auto;
}

.splitRight{
  overflow-x:scroll;
  overflow-y:scroll;
  background-color:pink;
//  height:calc(100vh - 50pt);
  flex-grow: 1;
}

.lst_fudaList{
  width:auto;

}

.lst_ListSort{
  width:auto;
  float:right;
}

.txt_fudaText{
  width:100px;

}

.kantaiList {
  display:none;
}

td{
  border:solid;
  background-color:#EEFFFF;
}