html, body {
//  height: 100vh; //親要素の高さを最大化
}

.allc{
display: grid;
grid-template-rows: auto auto 1fr;
height:calc(100vh - 15pt);
}

.information{
  width:100%;
  background-color:#ffddff;
}
.tools{
  width:100%;
  background-color:#ddffff;
}
.maincontents{
  width:100%;
  background-color:#ffffdd;
  flex-wrap: wrap;
  display: flex;


}
.sheetselection{
  flex-wrap: wrap;
  display: flex;
//  display: block;
  height:30pt;
}
.area {
  width:300px;
  flex-wrap: wrap;
  display: flex;
    background-color: rgb(128,128,0);
//bottom:0px;
height:auto;
}
.sheet_tab {
  width:auto;
  height:auto;
  margin-right:3pt;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: none;
  order: -1;
}
.sheetcontents{
  display:none;
  height:0pt;
  width:100%;
}
input[name="sheet_name"] {
  display:none;
}
input:checked + .sheet_tab {
  background-color: rgb(119,188,179);
  color: white;
}
input:checked + .sheet_tab + .sheetcontents {
  display: flex;
  //height:600pt;
  bottom:0pt;
}

.tab_class {
  width:25%;
  height:30px;
  background-color: rgb(197,194,185);
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[type="radio"] {
  display:none;
//position:fixed;
}
 
input:checked + .tab_class {
  background-color: rgb(119,188,179);
  color: white;
}

input:checked + .tab_class + .kantaiList {
  display: block;
margin-top:0px;
}

.kantaiHensei {
  display:block;
  float: none;
  width: 100%;
 padding-left:0pt;
 padding-right:0pt;
  padding-top:10pt;
  padding-bottom:10pt;
    position:relative;
align-items:center;
height:100%;

}

.kantaiList {
  display:none;
  padding:0em;
//  width: 100%;
height:calc(100vh - 250pt);
margin-top:0px;
overflow-y:scroll;
}


.kantaiItem {
      border-radius: 3px;
      list-style: none;
      background-color: gray;
      color: white;
      margin: 2px;
      float: left;
	line-height:13pt;
      width: 100px;
	height:55pt;
	position:relative;
}

.shipimg{
width:100%;
draggable:false;
}

.shiplv{
//width:100%;
float: left;
}

.shiparea{
text-align: right;
}

.shipname{
  white-space: nowrap;
  overflow: hidden;
}

.henseiText {
//	position:absolute;
    top: 2;
    left: 2;


}

.splitLeft{
position: absolute;
  display:table-cell;
	position:fixed;
	width:auto;
	float:left;
	background-color:#FFFFFF;
//  flex-wrap: wrap;
height:auto;
buttom:0pt;



}

.splitRight{
display:table-cell;
	position:absolute;
        left:320;
 margin-right:0pt;
overflow-x:scroll;
height:auto;
buttom:0pt;
}

.txt_fudaText{
 width:100pt;
}

.kantaiList {
  display:none;
  padding:0em;
//  width: 100%;
//height:430pt;
  
overflow-y:scroll;
}